@model WebApplication1.Models.UserStatistic

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>UserStatistic</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExerciseTypeId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExerciseTypeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SessionsInLastFourWeeks)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SessionsInLastFourWeeks)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BestResult)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BestResult)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
